.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

//bootstrap override for navbar
//.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}                                                                                                                                                       
//.navbar {min-height:32px !important}

// .navbar-static-top {
//     height: 10px; /* Whatever you want. */
//     }
// 
// .navbar {
//   background-color: #3a2665;
//   color: #ffffff;
// }
// 
// .navbar .nav {
//   padding-top: 15px;
//   padding-bottom: 15px;
// }
// 
// .navbar .nav > li > a {
//   color: #ffffff;
//   font-family: 'Oswald', sans-serif;
//   font-size: 1.5em;
// }
// 
// footer .navbar{
//     color: #ff0000; /* TO change the color in the footer*/
// }
// footer .navbar .nav > li > a {
//   color: #ff0000; /* TO change the color in the footer*/
// }

// @media (max-width: 767px) {
//     .nav-pills>li {
//         float: none;
//     }
// }
